<style>
	.card-img-top {
		width: 100%;
		height: 200px;
	}
</style>

<html>
	<head>
		<title>Purchase History</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body style="background-color: lightslategray;">
		<div class="container-fluid" style="background-color: lightslategray;">
			<h1>Your purchase history</h1>
			<div class="row">
				<!--spacer col-->
				<div class="col-lg-2"></div>
				<div class="col">
					<a href="{{ url_for('post') }}" class="btn btn-primary">All Posts</a>
					<a href="{{ url_for('your_posts') }}" class="btn btn-primary">Your Posts</a>
					<a href="{{ url_for('bookmarks') }}" class="btn btn-primary">Bookmarks</a>
					<a href="{{ url_for('bought_cars') }}" class="btn btn-success">Your Purchases</a>
					<a href="{{ url_for('sales') }}" class="btn btn-primary">Your Sales</a>
					<a href="{{ url_for('owned_cars') }}" class="btn btn-primary">Your Car History</a> 
					<a href="{{ url_for('profile') }}" class="btn btn-primary">Account</a>
					<a href="{{ url_for('issue') }}" class="btn btn-primary">Issues</a>
					<a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a> 
				</div>
			</div>
			<br>
			<div class="row">
				<!-- Search bar stuff here -->
				<div class="col-lg-2"></div>
				<div class="col">
					<form action="{{ url_for('bought_cars') }}" method="post">
						<input type="search" name="boughtSearch" id="" placeholder="Enter Plate Number">
						<button type="submit" class="btn btn-primary">Search</button>
					</form>
				</div>
				<div class="col">
				</div>
			</div>
			<br>
			<div class="row">
				<!-- Search filter stuff here -->
				<div class="col-lg-2 bg-warning text-white">
					<br>
					<form action="{{ url_for('bought_cars') }}" method="post" style="text-align: center;">
						<label for="">Price</label><br>
						<label>Price Min:	</label><input type="number" name="boughtMinPrice" id=""><br>
						<label>Price Max:	</label><input type="number"  name="boughtMaxPrice" id=""><br>
						<label>Date:	</label><input type="text"  name="boughtDate" id=""><br>
						<button type="submit" class="btn-primary">Filter Posts</button>
					</form>
				</div>
				<!-- Post display -->
				<div class="col bg-primary text-dark" style="padding: 2%;">
					<div class="row">
						{% for post in posts %}
						<div class="col-md-4 mb-4">
							<div class="card">
								<div class="card-body text-dark">
									<h4 style="font-weight: 550;">Plate Number: {{ post[1] }}</h4>
									<p><strong>Seller: {{ post[3] }}</strong></p>
									<p><strong>Car sold on: {{ post[4] }}</strong></p>
									<p><strong>Car sold for: ${{ post[2] }}</strong></p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<!--end of post-->
				</div>
			</div>
		</div>
	</body>
</html>
