<style>
	.card-img-top {
		width: 100%;
		height: 200px;
	}
</style>

<html>
	<head>
		<title>View Posts</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body style="background-color: lightslategray;">
		<div class="container-fluid" style="background-color: lightslategray;">
			<h1>Viewing Car Posts - Hello user: {{user}}!</h1>
			<div class="row">
				<!--spacer col-->
				<div class="col-lg-2"></div>
				<div class="col">
					<a href="{{ url_for('post') }}" class="btn btn-success">All Posts</a>
					<a href="{{ url_for('your_posts') }}" class="btn btn-primary">Your Posts</a>
					<a href="{{ url_for('bookmarks') }}" class="btn btn-primary">Bookmarks</a>
					<a href="{{ url_for('bought_cars') }}" class="btn btn-primary">Your Purchases</a>
					<a href="{{ url_for('sales') }}" class="btn btn-primary">Your Sales</a>
					<a href="{{ url_for('owned_cars') }}" class="btn btn-primary">Your Car History</a> 
					<a href="{{ url_for('profile') }}" class="btn btn-primary">Account</a>
					<a href="{{ url_for('issue') }}" class="btn btn-primary">Issues</a>
					<a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a> 
				</div>
			</div>
			<br>
			<div class="row">
				<!-- Search bar stuff here -->
				<div class="col-lg-2"></div>
				<div class="col">
					<form action="{{ url_for('post') }}" method="post">
						<input type="search" name="postSearch" id="" placeholder="Enter Car Name">
						<button type="submit" class="btn btn-primary" value="postSearchBtn">Search</button>
					</form>
				</div>
				<div class="col">
				</div>
			</div>
			<br>
			<div class="row">
				<!-- Search filter stuff here -->
				<div class="col-lg-2 bg-warning text-white">
					<br>
					<form action="{{ url_for('post') }}" method="post" style="text-align: center;">
						<label>Color:	</label><input type="text"  name="postColor" id=""><br>
						<label>Year:	</label><input type="text"  name="postYear" id=""><br>
						<label for="">Miles</label><br>
						<label>Miles Min:	</label><input type="number"  name="postMinMiles" id=""><br>
						<label>Miles Max:	</label><input type="number"  name="postMaxMiles" id=""><br>
						<label for="">Price</label><br>
						<label>Price Min:	</label><input type="number" name="postMinPrice" id=""><br>
						<label>Price Max:	</label><input type="number"  name="postMaxPrice" id=""><br>
						<label for="">Energy Consumption Type</label><!--Gas, electric, hybrid-->
						<select name="postEnergyType" id="">
							<option value="">All</option>
							<option value="gas">Gas</option>
							<option value="hybrid">Hybrid</option>
							<option value="electric">Electric</option>
						</select>
						<br>
						<label for="">Mpg</label><br>
						<label>Mpg Min:	</label><input type="number" name="postMinMpg" id=""><br>
						<label>Mpg Max:	</label><input type="number"  name="postMaxMpg" id=""><br>
						<br>
						<!--Location info-->
						<label for="">City</label><input type="text" name="postCity"><br>
						<label></label>
						<br>
						<button type="submit" class="btn-primary">Filter Posts</button>
					</form>
				</div>

		            <!-- Post display -->
		            <!-- Post display -->
		            <div class="col bg-primary text-dark" style="padding: 2%;">
		                <div class="row">
		                    {% for post in posts %}
		                    <div class="col-md-4 mb-4">
		                        <div class="card">
		                            <div class="card-body text-dark">
		                                <h4 style="font-weight: 550;">{{ post[1] }}</h4>
		                                <p><strong>Plate Number:</strong> {{ post[0] }}</p>
		                                <p><strong>Model:</strong> {{ post[2] }}</p>
										<p><strong>Color:</strong> {{ post[10] }}</p>
		                                <p><strong>MPG:</strong> {{ post[3] }}</p>
		                                <p><strong>Fuel:</strong> {{ post[4] }}</p>
		                                <p><strong>Year:</strong> {{ post[5] }}</p>
		                                <p><strong>Mileage:</strong> {{ post[6] }}</p>
		                                <p><strong>City:</strong> {{ post[7] }}</p>
		                                <p><strong>Price:</strong> {{ post[8] }}</p>
		                                <p><strong>Post Date:</strong> {{ post[9] }}</p>
		                                <!-- Add any additional attributes here -->
		                                <form action="{{ url_for('bought_cars') }}" method="post">
											<input type="hidden" name="plateNumber" value="{{ post[0] }}">
											<input type="hidden" name="ownerEmail" value="{{ post[1] }}">
											<button type="submit" class="btn btn-success">Buy Car</button>
										</form>
										<a href="/post/{{post[0]}}"><button type="button" class="btn btn-info">Bookmark Car</button></a>
		                            </div>
		                        </div>
		                    </div>
		                    {% endfor %}
					<!--end of post-->
				</div>
			</div>
		</div>
	</body>
</html>
